openapi: 3.1.0
info:
  title: 语雀 OpenAPI
  summary: 语雀开放 API
  description: ''
  version: 2.0.0
servers:
  - url: https://www.yuque.com
    description: 线上访问地址
components:
  securitySchemes:
    authToken:
      type: apiKey
      description: '使用指南: https://www.yuque.com/yuque/developer/api'
      name: X-Auth-Token
      in: header
  responses:
    '400':
      description: 请求参数非法
    '401':
      description: Token/Scope 未通过鉴权
    '403':
      description: 无操作权限
    '404':
      description: 实体未找到
    '422':
      description: 请求参数校验失败
    '429':
      description: 访问频率超限
    '500':
      description: 内部错误
  requestBodies:
    ApiV2GroupMemberUpdatePut:
      content:
        application/json:
          schema:
            type: object
            properties:
              role:
                type: string
                enum:
                  - 0
                  - 1
                  - 2
                default: 1
                description: |
                  <p>角色<br />
                  (0:管理员, 1:成员, 2:只读成员)</p>
    ApiV2DocCreatePost:
      content:
        application/json:
          schema:
            type: object
            properties:
              slug:
                type: string
                description: |
                  <p>路径</p>
              title:
                type: string
                default: 无标题
                description: |
                  <p>标题</p>
              public:
                type: string
                enum:
                  - 0
                  - 1
                  - 2
                default: 0
                description: |
                  <p>公开性<br />
                  (0:私密, 1:公开, 2:企业内公开)</p>
              format:
                type: string
                enum:
                  - markdown
                  - html
                  - lake
                default: markdown
                description: |
                  <p>内容格式<br />
                  (markdown:Markdown 格式, html:HTML 标准格式, lake:语雀 Lake 格式)</p>
              body:
                type: string
                description: |
                  <p>正文内容</p>
            required:
              - body
    ApiV2DocUpdatePut:
      content:
        application/json:
          schema:
            type: object
            properties:
              slug:
                type: string
                description: |
                  <p>路径</p>
              title:
                type: string
                default: 无标题
                description: |
                  <p>标题</p>
              public:
                type: string
                enum:
                  - 0
                  - 1
                  - 2
                default: 0
                description: |
                  <p>公开性<br />
                  (0:私密, 1:公开, 2:企业内公开)</p>
              format:
                type: string
                enum:
                  - markdown
                  - html
                  - lake
                default: markdown
                description: |
                  <p>内容格式<br />
                  (markdown:Markdown 格式, html:HTML 标准格式, lake:语雀 Lake 格式)</p>
              body:
                type: string
                description: |
                  <p>正文内容</p>
    ApiV2RepoTocUpdatePut:
      content:
        application/json:
          schema:
            type: object
            properties:
              action:
                type: string
                enum:
                  - appendNode
                  - prependNode
                  - editNode
                  - removeNode
                description: >
                  <p>操作<br />

                  (appendNode:尾插, prependNode:头插, editNode:编辑节点,
                  removeNode:删除节点)</p>

                  <ul>

                  <li>action_mode 必填</li>

                  <li>创建场景下不支持同级头插 prependNode</li>

                  <li>删除节点不会删除关联文档</li>

                  <li>删除节点时: action_mode=sibling (删除当前节点), action_mode=child
                  (删除当前节点及子节点)</li>

                  </ul>
              action_mode:
                type: string
                enum:
                  - sibling
                  - child
                description: |
                  <p>操作模式<br />
                  (sibling:同级, child:子级)</p>
              target_uuid:
                type: string
                description: |
                  <p>目标节点 UUID, 不填默认为根节点</p>
                  <ul>
                  <li>获取方式: 调用"获取知识库目录"接口获取</li>
                  </ul>
              node_uuid:
                type: string
                description: |
                  <p>操作节点 UUID [移动/更新/删除必填]</p>
                  <ul>
                  <li>获取方式: 调用"获取知识库目录"接口获取</li>
                  </ul>
              doc_id:
                type: integer
                description: |
                  <p>文档 ID [创建文档必填]</p>
                deprecated: true
              doc_ids:
                type: array
                items:
                  type: integer
                description: |
                  <p>文档 ID 数组 [创建文档必填]</p>
              type:
                type: string
                enum:
                  - DOC
                  - LINK
                  - TITLE
                default: DOC
                description: |
                  <p>节点类型 [创建必填]<br />
                  (DOC:文档, LINK:外链, TITLE:分组)</p>
              title:
                type: string
                description: |
                  <p>节点名称 [创建分组/外链必填]</p>
              url:
                type: string
                description: |
                  <p>节点 URL [创建外链必填]</p>
              open_window:
                type: string
                enum:
                  - 0
                  - 1
                default: 0
                description: |
                  <p>是否新窗口打开 [外链选填]<br />
                  (0:当前页打开, 1:新窗口打开)</p>
              visible:
                type: string
                enum:
                  - 0
                  - 1
                default: 1
                description: |
                  <p>是否可见<br />
                  (0:不可见, 1:可见)</p>
            required:
              - action
    ApiV2RepoCreatePost:
      content:
        application/json:
          schema:
            type: object
            properties:
              name:
                type: string
                description: |
                  <p>名称</p>
              slug:
                type: string
                description: |
                  <p>路径</p>
              description:
                type: string
                description: |
                  <p>简介</p>
              public:
                type: string
                enum:
                  - 0
                  - 1
                  - 2
                default: 0
                description: |
                  <p>公开性<br />
                  (0:私密, 1:公开, 2:企业内公开)</p>
            required:
              - name
              - slug
    ApiV2RepoUpdatePut:
      content:
        application/json:
          schema:
            type: object
            properties:
              name:
                type: string
                description: |
                  <p>名称</p>
              slug:
                type: string
                description: |
                  <p>路径</p>
              description:
                type: string
                description: |
                  <p>简介</p>
              public:
                type: string
                enum:
                  - 0
                  - 1
                  - 2
                default: 0
                description: |
                  <p>公开性<br />
                  (0:私密, 1:公开, 2:企业内公开)</p>
              toc:
                type: string
                description: >
                  <p>目录</p>

                  <p>必须是 Markdown 格式, <code>[名称](文档路径)</code> 示例:</p>

                  <pre data-syntax="markdown"><code class="lang-markdown hljs
                  raw">- [新手指引]()
                    - [语雀是什么](about)
                    - [常见问题](faq)
                  - [基础功能]()
                    - [工作台](dashboard)
                    - [如何设置自定义路径](nkt888)
                  </code></pre>
                deprecated: true
  schemas:
    V2User:
      type: object
      properties:
        id:
          type: integer
          format: int64
          description: |
            <p>用户 ID</p>
        type:
          type: string
          description: |
            <p>类型<br />
            Always 'User'</p>
          deprecated: true
        login:
          type: string
          description: |
            <p>登录名</p>
        name:
          type: string
          description: |
            <p>昵称</p>
        avatar_url:
          type: string
          description: |
            <p>头像</p>
        books_count:
          type: integer
          description: |
            <p>知识库数量</p>
        public_books_count:
          type: integer
          description: |
            <p>公开的知识库数量</p>
        followers_count:
          type: integer
          description: |
            <p>被关注的人数</p>
        following_count:
          type: integer
          description: |
            <p>关注的人数</p>
        public:
          type: integer
          enum:
            - 0
            - 1
            - 2
          description: |
            <p>公开性<br />
            (0:私密, 1:公开, 2:企业内公开)</p>
        description:
          type: string
          description: |
            <p>介绍</p>
        created_at:
          type: string
          format: date-time
          description: |
            <p>创建时间<br />
            格式: YYYY-MM-DDTHH:mm:ss.sssZ (ISO_8601)</p>
        updated_at:
          type: string
          format: date-time
          description: |
            <p>更新时间<br />
            格式: YYYY-MM-DDTHH:mm:ss.sssZ (ISO_8601)</p>
    V2SearchResult:
      type: object
      properties:
        id:
          type: integer
          format: int64
          description: |
            <p>ID</p>
        type:
          type: string
          enum:
            - doc
            - repo
          description: |
            <p>类型<br />
            (doc:文档, repo:知识库)</p>
        title:
          type: string
          description: |
            <p>标题<br />
            <code>&lt;em&gt;&lt;/em&gt;</code> 高亮关键词</p>
        summary:
          type: string
          description: |
            <p>摘要<br />
            <code>&lt;em&gt;&lt;/em&gt;</code> 高亮关键词</p>
        url:
          type: string
          description: |
            <p>访问路径</p>
        info:
          type: string
          description: |
            <p>归属信息</p>
        target:
          oneOf:
            - $ref: '#/components/schemas/V2Doc'
            - $ref: '#/components/schemas/V2Book'
    V2Doc:
      type: object
      properties:
        id:
          type: integer
          format: int64
          description: |
            <p>文档 ID</p>
        slug:
          type: string
          description: |
            <p>路径</p>
        title:
          type: string
          description: |
            <p>标题</p>
        description:
          type: string
          description: |
            <p>摘要</p>
        cover:
          type: string
          description: |
            <p>封面</p>
        user_id:
          type: integer
          format: int64
          description: |
            <p>归属用户/团队 ID</p>
        book_id:
          type: integer
          format: int64
          description: |
            <p>归属知识库 ID</p>
        last_editor_id:
          type: integer
          format: int64
          description: |
            <p>最后编辑者 ID</p>
        public:
          type: integer
          enum:
            - 0
            - 1
            - 2
          description: |
            <p>公开性<br />
            (0:私密, 1:公开, 2:企业内公开)</p>
        status:
          type: string
          description: |
            <p>状态<br />
            (0:草稿, 1:发布)</p>
        likes_count:
          type: integer
          description: |
            <p>点赞数</p>
        read_count:
          type: integer
          description: |
            <p>阅读数</p>
            <ul>
            <li>需要传入 <code>optional_properties=hits</code> 获取</li>
            </ul>
        hits:
          type: integer
          description: |
            <p>阅读数</p>
            <ul>
            <li>需要传入 <code>optional_properties=hits</code> 获取</li>
            </ul>
          deprecated: true
        comments_count:
          type: integer
          description: |
            <p>评论数</p>
        word_count:
          type: integer
          description: |
            <p>内容字数</p>
        created_at:
          type: string
          format: date-time
          description: |
            <p>创建时间<br />
            格式: YYYY-MM-DDTHH:mm:ss.sssZ (ISO_8601)</p>
        updated_at:
          type: string
          format: date-time
          description: |
            <p>更新时间<br />
            格式: YYYY-MM-DDTHH:mm:ss.sssZ (ISO_8601)</p>
        content_updated_at:
          type: string
          format: date-time
          description: |
            <p>内容更新时间<br />
            格式: YYYY-MM-DDTHH:mm:ss.sssZ (ISO_8601)</p>
        published_at:
          type: string
          format: date-time
          description: |
            <p>发布时间<br />
            格式: YYYY-MM-DDTHH:mm:ss.sssZ (ISO_8601)</p>
        first_published_at:
          type: string
          format: date-time
          description: |
            <p>首次发布时间<br />
            格式: YYYY-MM-DDTHH:mm:ss.sssZ (ISO_8601)</p>
        book:
          $ref: '#/components/schemas/V2Book'
        last_editor:
          $ref: '#/components/schemas/V2User'
        latest_version_id:
          type: integer
          format: int64
          description: |
            <p>最新已发版本 ID</p>
            <ul>
            <li>需要传入 <code>optional_properties=latest_version_id</code> 获取</li>
            </ul>
        tags:
          $ref: '#/components/schemas/V2Tag'
    V2Book:
      type: object
      properties:
        id:
          type: integer
          format: int64
          description: |
            <p>知识库 ID</p>
        type:
          type: string
          description: |
            <p>类型<br />
            (Book:文档, Design:图集, Sheet:表格, Resource:资源)</p>
        slug:
          type: string
          description: |
            <p>路径</p>
        name:
          type: string
          description: |
            <p>名称</p>
        user_id:
          type: integer
          format: int64
          description: |
            <p>归属用户/团队 ID</p>
        description:
          type: string
          description: |
            <p>简介</p>
        toc_yml:
          type: string
          description: |
            <p>目录</p>
        creator_id:
          type: integer
          format: int64
          description: |
            <p>创建者 ID</p>
        public:
          type: integer
          enum:
            - 0
            - 1
            - 2
          description: |
            <p>公开性<br />
            (0:私密, 1:公开, 2:企业内公开)</p>
        items_count:
          type: integer
          description: |
            <p>文档数量</p>
        likes_count:
          type: integer
          description: |
            <p>点赞数量</p>
        watches_count:
          type: integer
          description: |
            <p>订阅数量</p>
        content_updated_at:
          type: string
          format: date-time
          description: |
            <p>知识库 META 更新时间<br />
            格式: YYYY-MM-DDTHH:mm:ss.sssZ (ISO_8601)</p>
        created_at:
          type: string
          format: date-time
          description: |
            <p>创建时间<br />
            格式: YYYY-MM-DDTHH:mm:ss.sssZ (ISO_8601)</p>
        updated_at:
          type: string
          format: date-time
          description: |
            <p>更新时间<br />
            格式: YYYY-MM-DDTHH:mm:ss.sssZ (ISO_8601)</p>
        user:
          $ref: '#/components/schemas/V2User'
        namespace:
          type: string
          description: |
            <p>完整路径</p>
    V2Tag:
      type: object
      properties:
        id:
          type: integer
          format: int64
          description: |
            <p>TAG ID</p>
        title:
          type: string
          description: |
            <p>TAG NAME</p>
        doc_id:
          type: integer
          format: int64
          description: |
            <p>文档 ID</p>
        book_id:
          type: integer
          format: int64
          description: |
            <p>知识库 ID</p>
        user_id:
          type: integer
          format: int64
          description: |
            <p>创建者 ID</p>
        created_at:
          type: string
          format: date-time
          description: |
            <p>创建时间<br />
            格式: YYYY-MM-DDTHH:mm:ss.sssZ (ISO_8601)</p>
        updated_at:
          type: string
          format: date-time
          description: |
            <p>更新时间<br />
            格式: YYYY-MM-DDTHH:mm:ss.sssZ (ISO_8601)</p>
    V2Group:
      type: object
      properties:
        id:
          type: integer
          format: int64
          description: |
            <p>团队 ID</p>
        type:
          type: string
          description: |
            <p>类型<br />
            Always 'Group'</p>
          deprecated: true
        login:
          type: string
          description: |
            <p>路径</p>
        name:
          type: string
          description: |
            <p>名称</p>
        avatar_url:
          type: string
          description: |
            <p>头像</p>
        books_count:
          type: integer
          description: |
            <p>知识库数量</p>
        public_books_count:
          type: integer
          description: |
            <p>公开的知识库数量</p>
        members_count:
          type: integer
          description: |
            <p>成员人数</p>
        public:
          type: integer
          enum:
            - 0
            - 1
            - 2
          description: |
            <p>公开性<br />
            (0:私密, 1:公开, 2:企业内公开)</p>
        description:
          type: string
          description: |
            <p>介绍</p>
        created_at:
          type: string
          format: date-time
          description: |
            <p>创建时间<br />
            格式: YYYY-MM-DDTHH:mm:ss.sssZ (ISO_8601)</p>
        updated_at:
          type: string
          format: date-time
          description: |
            <p>更新时间<br />
            格式: YYYY-MM-DDTHH:mm:ss.sssZ (ISO_8601)</p>
    V2GroupUser:
      type: object
      properties:
        id:
          type: integer
          format: int64
          description: |
            <p>ID</p>
        group_id:
          type: integer
          format: int64
          description: |
            <p>团队 ID</p>
        user_id:
          type: integer
          format: int64
          description: |
            <p>成员 ID</p>
        role:
          type: integer
          enum:
            - 0
            - 1
            - 2
          description: |
            <p>成员角色<br />
            (0:管理员, 1:成员, 2:只读成员)</p>
        created_at:
          type: string
          format: date-time
          description: |
            <p>创建时间<br />
            格式: YYYY-MM-DDTHH:mm:ss.sssZ (ISO_8601)</p>
        updated_at:
          type: string
          format: date-time
          description: |
            <p>更新时间<br />
            格式: YYYY-MM-DDTHH:mm:ss.sssZ (ISO_8601)</p>
        group:
          $ref: '#/components/schemas/V2Group'
        user:
          $ref: '#/components/schemas/V2User'
    V2DocDetail:
      type: object
      properties:
        id:
          type: integer
          format: int64
          description: |
            <p>文档 ID</p>
        slug:
          type: string
          description: |
            <p>路径</p>
        title:
          type: string
          description: |
            <p>标题</p>
        description:
          type: string
          description: |
            <p>摘要</p>
        cover:
          type: string
          description: |
            <p>封面</p>
        user_id:
          type: integer
          format: int64
          description: |
            <p>归属用户/团队 ID</p>
        book_id:
          type: integer
          format: int64
          description: |
            <p>归属知识库 ID</p>
        last_editor_id:
          type: integer
          format: int64
          description: |
            <p>最后编辑者 ID</p>
        format:
          type: string
          enum:
            - markdown
            - lake
            - html
            - text
          description: >
            <p>内容格式<br />

            (markdown:Markdown 格式, lake:语雀 Lake 格式, html:HTML 标准格式,
            text:纯文本格式)</p>
        body_draft:
          type: string
          description: |
            <p>草稿内容</p>
        body:
          type: string
          description: |
            <p>原始内容</p>
        body_html:
          type: string
          description: |
            <p>HTML 标准内容</p>
        body_lake:
          type: string
          description: |
            <p>语雀 Lake 内容</p>
        public:
          type: integer
          enum:
            - 0
            - 1
            - 2
          description: |
            <p>公开性<br />
            (0:私密, 1:公开, 2:企业内公开)</p>
        status:
          type: string
          description: |
            <p>状态<br />
            (0:草稿, 1:发布)</p>
        likes_count:
          type: integer
          description: |
            <p>点赞数</p>
        read_count:
          type: integer
          description: |
            <p>阅读数</p>
        hits:
          type: integer
          description: |
            <p>阅读数</p>
          deprecated: true
        comments_count:
          type: integer
          description: |
            <p>评论数</p>
        word_count:
          type: integer
          description: |
            <p>内容字数</p>
        created_at:
          type: string
          format: date-time
          description: |
            <p>创建时间<br />
            格式: YYYY-MM-DDTHH:mm:ss.sssZ (ISO_8601)</p>
        updated_at:
          type: string
          format: date-time
          description: |
            <p>更新时间<br />
            格式: YYYY-MM-DDTHH:mm:ss.sssZ (ISO_8601)</p>
        content_updated_at:
          type: string
          format: date-time
          description: |
            <p>内容更新时间<br />
            格式: YYYY-MM-DDTHH:mm:ss.sssZ (ISO_8601)</p>
        published_at:
          type: string
          format: date-time
          description: |
            <p>发布时间<br />
            格式: YYYY-MM-DDTHH:mm:ss.sssZ (ISO_8601)</p>
        first_published_at:
          type: string
          format: date-time
          description: |
            <p>首次发布时间<br />
            格式: YYYY-MM-DDTHH:mm:ss.sssZ (ISO_8601)</p>
        book:
          $ref: '#/components/schemas/V2Book'
        user:
          $ref: '#/components/schemas/V2User'
        creator:
          $ref: '#/components/schemas/V2User'
        tags:
          $ref: '#/components/schemas/V2Tag'
        latest_version_id:
          type: integer
          format: int64
          description: |
            <p>最新已发版本 ID</p>
    V2DocVersion:
      type: object
      properties:
        id:
          type: integer
          format: int64
          description: |
            <p>版本 ID</p>
        doc_id:
          type: integer
          format: int64
          description: |
            <p>文档 ID</p>
        slug:
          type: string
          description: |
            <p>文档路径</p>
        title:
          type: string
          description: |
            <p>文档标题</p>
        user_id:
          type: integer
          format: int64
          description: |
            <p>发版人 ID</p>
        created_at:
          type: string
          format: date-time
          description: |
            <p>创建时间<br />
            格式: YYYY-MM-DDTHH:mm:ss.sssZ (ISO_8601)</p>
        updated_at:
          type: string
          format: date-time
          description: |
            <p>更新时间<br />
            格式: YYYY-MM-DDTHH:mm:ss.sssZ (ISO_8601)</p>
        user:
          $ref: '#/components/schemas/V2User'
    V2DocVersionDetail:
      type: object
      properties:
        id:
          type: integer
          format: int64
          description: |
            <p>版本 ID</p>
        doc_id:
          type: integer
          format: int64
          description: |
            <p>文档 ID</p>
        slug:
          type: string
          description: |
            <p>文档路径</p>
        title:
          type: string
          description: |
            <p>文档标题</p>
        user_id:
          type: integer
          format: int64
          description: |
            <p>发版人 ID</p>
        format:
          type: string
          enum:
            - markdown
            - lake
            - html
          description: |
            <p>内容格式<br />
            (markdown:Markdown 格式, lake:语雀 Lake 格式, html:HTML 标准格式)</p>
        body:
          type: string
          description: |
            <p>原始内容</p>
        body_html:
          type: string
          description: |
            <p>HTML 标准内容</p>
        body_asl:
          type: string
          description: |
            <p>ASL 格式内容</p>
        diff:
          type: string
          description: |
            <p>版本 DIFF</p>
        created_at:
          type: string
          format: date-time
          description: |
            <p>创建时间<br />
            格式: YYYY-MM-DDTHH:mm:ss.sssZ (ISO_8601)</p>
        updated_at:
          type: string
          format: date-time
          description: |
            <p>更新时间<br />
            格式: YYYY-MM-DDTHH:mm:ss.sssZ (ISO_8601)</p>
        user:
          $ref: '#/components/schemas/V2User'
    V2TocItem:
      type: object
      properties:
        uuid:
          type: string
          description: |
            <p>节点唯一 ID</p>
        type:
          type: string
          enum:
            - DOC
            - LINK
            - TITLE
          description: |
            <p>节点类型<br />
            (DOC:文档, LINK:外链, TITLE:分组)</p>
        title:
          type: string
          description: |
            <p>节点名称</p>
        url:
          type: string
          description: |
            <p>节点 URL</p>
        slug:
          type: string
          description: |
            <p>节点 URL</p>
          deprecated: true
        id:
          type: integer
          format: int64
          description: |
            <p>文档 ID</p>
          deprecated: true
        doc_id:
          type: integer
          format: int64
          description: |
            <p>文档 ID</p>
        level:
          type: integer
          description: |
            <p>节点层级</p>
        depth:
          type: integer
          description: |
            <p>节点层级</p>
          deprecated: true
        open_window:
          type: integer
          enum:
            - 0
            - 1
          description: |
            <p>是否在新窗口打开<br />
            (0:当前页打开, 1:新窗口打开)</p>
        visible:
          type: integer
          enum:
            - 0
            - 1
          description: |
            <p>是否可见<br />
            (0:不可见, 1:可见)</p>
        prev_uuid:
          type: string
          description: |
            <p>同级前一个节点 uuid</p>
        sibling_uuid:
          type: string
          description: |
            <p>同级后一个节点 uuid</p>
        child_uuid:
          type: string
          description: |
            <p>子级第一个节点 uuid</p>
        parent_uuid:
          type: string
          description: |
            <p>父级节点 uuid</p>
    V2GroupStatistics:
      type: object
      properties:
        bizdate:
          type: string
          description: ''
        user_id:
          type: string
          description: |
            <p>统计日期 (YYYYMMDD)</p>
        organization_id:
          type: string
          description: |
            <p>团队 ID</p>
        member_count:
          type: string
          description: |
            <p>归属空间 ID</p>
        collaborator_count:
          type: string
          description: |
            <p>成员数</p>
        day_read_count:
          type: string
          description: |
            <p>协作者数</p>
        day_write_count:
          type: string
          description: |
            <p>当日阅读量</p>
        write_count:
          type: string
          description: |
            <p>当日编辑次数</p>
        read_count:
          type: string
          description: |
            <p>编辑次数</p>
        read_count_30:
          type: string
          description: |
            <p>阅读量</p>
        read_count_365:
          type: string
          description: |
            <p>阅读量 (30天)</p>
        comment_count:
          type: string
          description: |
            <p>阅读量 (一年)</p>
        comment_count_30:
          type: string
          description: |
            <p>评论量</p>
        comment_count_365:
          type: string
          description: |
            <p>评论量 (30天)</p>
        like_count:
          type: string
          description: |
            <p>评论量 (一年)</p>
        like_count_30:
          type: string
          description: |
            <p>点赞量</p>
        like_count_365:
          type: string
          description: |
            <p>点赞量 (30天)</p>
        follow_count:
          type: string
          description: |
            <p>点赞量 (一年)</p>
        collect_count:
          type: string
          description: |
            <p>关注量</p>
        doc_count:
          type: string
          description: |
            <p>收藏量</p>
        sheet_count:
          type: string
          description: |
            <p>文档数量</p>
        board_count:
          type: string
          description: |
            <p>表格数量</p>
        show_count:
          type: string
          description: |
            <p>画板数量</p>
        resource_count:
          type: string
          description: |
            <p>演示文稿数量</p>
        artboard_count:
          type: string
          description: |
            <p>资源数量</p>
        attachment_count:
          type: string
          description: |
            <p>图集数量</p>
        book_count:
          type: string
          description: |
            <p>附件数量</p>
        public_book_count:
          type: string
          description: |
            <p>知识库总数量</p>
        private_book_count:
          type: string
          description: |
            <p>公开知识库数量</p>
        book_book_count:
          type: string
          description: |
            <p>私密知识库数量</p>
        book_resource_count:
          type: string
          description: |
            <p>文档知识库数量</p>
        book_design_count:
          type: string
          description: |
            <p>资源知识库数量</p>
        book_thread_count:
          type: string
          description: |
            <p>图片知识库数量</p>
        data_usage:
          type: string
          description: |
            <p>话题知识库数量</p>
        grains_count:
          type: string
          description: |
            <p>流量使用量</p>
        grains_count_sum:
          type: string
          description: |
            <p>当前稻谷数</p>
        grains_count_consume:
          type: string
          description: |
            <p>累计获得稻谷数</p>
        interaction_people_count:
          type: string
          description: |
            <p>已消耗稻谷数</p>
        content_count:
          type: string
          description: |
            <p>知识交流人数</p>
        collaboration_count:
          type: string
          description: |
            <p>知识财富数</p>
        working_hours:
          type: string
          description: |
            <p>知识协同次数</p>
        baike:
          type: string
          description: |
            <p>协同提效时长 (小时)</p>
        table_count:
          type: string
          description: |
            <p>百科全书卷数</p>
    V2MemberStatistics:
      type: object
      properties:
        bizdate:
          type: string
          description: ''
        user_id:
          type: string
          description: |
            <p>统计日期 (YYYYMMDD)</p>
        group_id:
          type: string
          description: |
            <p>成员 ID</p>
        organization_id:
          type: string
          description: |
            <p>团队 ID</p>
        write_count:
          type: string
          description: |
            <p>空间 ID</p>
        write_count_30:
          type: string
          description: |
            <p>编辑次数</p>
        write_count_365:
          type: string
          description: |
            <p>编辑次数 (30天)</p>
        write_doc_count:
          type: string
          description: |
            <p>编辑次数 (一年)</p>
        write_doc_count_30:
          type: string
          description: |
            <p>编辑文档数</p>
        write_doc_count_365:
          type: string
          description: |
            <p>编辑文档数 (30天)</p>
        read_count:
          type: string
          description: |
            <p>编辑文档数 (一年)</p>
        read_count_30:
          type: string
          description: |
            <p>阅读量</p>
        read_count_365:
          type: string
          description: |
            <p>阅读量 (30天)</p>
        like_count:
          type: string
          description: |
            <p>阅读量 (一年)</p>
        like_count_30:
          type: string
          description: |
            <p>点赞量</p>
        like_count_365:
          type: string
          description: |
            <p>点赞量 (30天)</p>
        user:
          type: string
          description: |
            <p>点赞量 (一年)</p>
    V2BookStatistics:
      type: object
      properties:
        bizdate:
          type: string
          description: ''
        book_id:
          type: string
          description: |
            <p>统计日期 (YYYYMMDD)</p>
        slug:
          type: string
          description: |
            <p>知识库 ID</p>
        name:
          type: string
          description: |
            <p>知识库 slug</p>
        type:
          type: string
          description: |
            <p>知识库名称</p>
        is_public:
          type: string
          description: |
            <p>知识库类型</p>
        content_updated_at_ms:
          type: string
          description: |
            <p>是否公开</p>
        user_id:
          type: string
          description: |
            <p>最近更新时间</p>
        organization_id:
          type: string
          description: |
            <p>知识库归属 ID</p>
        day_read_count:
          type: string
          description: |
            <p>知识库归属空间 ID</p>
        day_write_count:
          type: string
          description: |
            <p>当日阅读量</p>
        day_like_count:
          type: string
          description: |
            <p>当日编辑次数</p>
        post_count:
          type: string
          description: |
            <p>当日点赞量</p>
        word_count:
          type: string
          description: |
            <p>文档数</p>
        write_count:
          type: string
          description: |
            <p>字数</p>
        write_count_30:
          type: string
          description: |
            <p>编辑次数</p>
        read_count:
          type: string
          description: |
            <p>编辑次数 (30天)</p>
        read_count_30:
          type: string
          description: |
            <p>阅读量</p>
        read_count_365:
          type: string
          description: |
            <p>阅读量 (30天)</p>
        like_count:
          type: string
          description: |
            <p>阅读量 (一年)</p>
        like_count_7:
          type: string
          description: |
            <p>点赞量</p>
        like_count_30:
          type: string
          description: |
            <p>点赞量 (7天)</p>
        like_count_365:
          type: string
          description: |
            <p>点赞量 (30天)</p>
        watch_count:
          type: string
          description: |
            <p>点赞量 (一年)</p>
        watch_count_7:
          type: string
          description: |
            <p>关注量</p>
        watch_count_30:
          type: string
          description: |
            <p>关注量 (7天)</p>
        watch_count_365:
          type: string
          description: |
            <p>关注量 (30天)</p>
        comment_count:
          type: string
          description: |
            <p>关注量 (一年)</p>
        comment_count_30:
          type: string
          description: |
            <p>评论量</p>
        comment_count_365:
          type: string
          description: |
            <p>评论量 (30天)</p>
        like_rank_rate:
          type: string
          description: |
            <p>评论量 (一年)</p>
        popularity_30:
          type: string
          description: |
            <p>知识库点赞数排名</p>
        doc_count:
          type: string
          description: |
            <p>30 天热度</p>
        sheet_count:
          type: string
          description: |
            <p>文档数量</p>
        board_count:
          type: string
          description: |
            <p>表格数量</p>
        show_count:
          type: string
          description: |
            <p>画板数量</p>
        resource_count:
          type: string
          description: |
            <p>演示文稿数量</p>
        artboard_count:
          type: string
          description: |
            <p>资源数量</p>
        attachment_count:
          type: string
          description: |
            <p>图集数量</p>
        interaction_people_count:
          type: string
          description: |
            <p>附件数量</p>
        content_count:
          type: string
          description: |
            <p>知识交流人数</p>
        collaboration_count:
          type: string
          description: |
            <p>知识财富数</p>
        working_hours:
          type: string
          description: |
            <p>知识协同次数</p>
        baike:
          type: string
          description: |
            <p>协同提效时长 (小时)</p>
        table_count:
          type: string
          description: |
            <p>百科全书卷数</p>
    V2DocStatistics:
      type: object
      properties:
        bizdate:
          type: string
          description: ''
        book_id:
          type: string
          description: |
            <p>统计日期 (YYYYMMDD)</p>
        doc_id:
          type: string
          description: |
            <p>知识库 ID</p>
        slug:
          type: string
          description: |
            <p>文档 ID</p>
        title:
          type: string
          description: |
            <p>文档 slug</p>
        type:
          type: string
          description: |
            <p>文档标题</p>
        is_public:
          type: string
          description: |
            <p>知识库类型</p>
        created_at:
          type: string
          description: |
            <p>是否公开</p>
        content_updated_at:
          type: string
          description: |
            <p>创建时间</p>
        user_id:
          type: string
          description: |
            <p>最近更新时间</p>
        organization_id:
          type: string
          description: |
            <p>文档归属 ID</p>
        day_read_count:
          type: string
          description: |
            <p>文档归属空间 ID</p>
        day_write_count:
          type: string
          description: |
            <p>当日阅读量</p>
        day_like_count:
          type: string
          description: |
            <p>当日编辑次数</p>
        word_count:
          type: string
          description: |
            <p>当日点赞量</p>
        write_count:
          type: string
          description: |
            <p>字数</p>
        read_count:
          type: string
          description: |
            <p>编辑次数</p>
        read_count_7:
          type: string
          description: |
            <p>阅读量</p>
        read_count_30:
          type: string
          description: |
            <p>阅读量 (7天)</p>
        read_count_365:
          type: string
          description: |
            <p>阅读量 (30天)</p>
        like_count:
          type: string
          description: |
            <p>阅读量 (一年)</p>
        like_count_7:
          type: string
          description: |
            <p>点赞量</p>
        like_count_30:
          type: string
          description: |
            <p>点赞量 (7天)</p>
        like_count_365:
          type: string
          description: |
            <p>点赞量 (30天)</p>
        comment_count:
          type: string
          description: |
            <p>点赞量 (一年)</p>
        comment_count_30:
          type: string
          description: |
            <p>评论量</p>
        comment_count_365:
          type: string
          description: |
            <p>评论量 (30天)</p>
        popularity_30:
          type: string
          description: |
            <p>评论量 (一年)</p>
        attachment_count:
          type: string
          description: |
            <p>30 天热度</p>
        user:
          type: string
          description: |
            <p>附件数量</p>
security:
  - authToken: []
paths:
  /api/v2/hello:
    get:
      tags:
        - user
      summary: 心跳
      description: |
        <p>心跳<br />
        GET /api/v2/hello</p>
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      message:
                        type: string
                        description: |
                          <p>欢迎消息</p>
        '400': &ref_0
          $ref: '#/components/responses/400'
        '401': &ref_1
          $ref: '#/components/responses/401'
        '403': &ref_2
          $ref: '#/components/responses/403'
        '404': &ref_3
          $ref: '#/components/responses/404'
        '422': &ref_4
          $ref: '#/components/responses/422'
        '429': &ref_5
          $ref: '#/components/responses/429'
        '500': &ref_6
          $ref: '#/components/responses/500'
  /api/v2/user:
    get:
      tags:
        - user
      summary: 获取当前 Token 的用户详情
      description: |
        <p>获取当前 Token 的用户详情<br />
        GET /api/v2/user</p>
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/V2User'
        '400': *ref_0
        '401': *ref_1
        '403': *ref_2
        '404': *ref_3
        '422': *ref_4
        '429': *ref_5
        '500': *ref_6
  /api/v2/search:
    get:
      tags:
        - search
      summary: 通用搜索
      description: |
        <p>通用搜索<br />
        GET /api/v2/search</p>
        <ul>
        <li>支持分页, PageSize 固定为 20</li>
        </ul>
      parameters:
        - name: q
          in: query
          description: |
            <p>搜索关键词</p>
          required: true
          deprecated: false
          schema:
            type: string
            maxLength: 200
        - name: type
          in: query
          description: |
            <p>搜索类型<br />
            (doc:文档, repo:知识库)</p>
          required: true
          deprecated: false
          schema:
            type: string
            enum:
              - doc
              - repo
        - name: scope
          in: query
          description: |
            <p>搜索范围, 不填默认为搜索当前用户/团队</p>
            <p>[例子]</p>
            <pre><code>- 假设:
              - 团队 URL = https://yuque_domain/group_a
              - 知识库 URL = https://yuque_domain/group_a/book_x
            - 则:
              - 搜索团队里的文档: { type: 'doc', scope: 'group_a' }
              - 搜索团队里的知识库: { type: 'repo', scope: 'group_a' }
              - 搜索知识库里的文档: { type: 'doc', scope: 'group_a/book_x' }
            </code></pre>
          required: false
          deprecated: false
          schema:
            type: string
            maxLength: 400
        - name: page
          in: query
          description: |
            <p>页码 [分页参数]</p>
          required: false
          deprecated: false
          schema:
            type: integer
            minimum: 1
            maximum: 100
        - name: offset
          in: query
          description: |
            <p>页码, 非偏移量 [分页参数]</p>
          required: false
          deprecated: true
          schema:
            type: integer
            minimum: 1
            maximum: 100
        - name: strict
          in: query
          description: |
            <p>关键词精确匹配, 不分词</p>
          required: false
          deprecated: false
          schema:
            type: boolean
        - name: related
          in: query
          description: |
            <p>仅搜索与我相关 [筛选条件]</p>
          required: false
          deprecated: false
          schema:
            type: boolean
        - name: creatorId
          in: query
          description: |
            <p>仅搜索指定作者 ID [筛选条件]</p>
          required: false
          deprecated: false
          schema:
            type: integer
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  meta:
                    type: object
                    properties:
                      total:
                        type: integer
                        description: |
                          <p>结果总量</p>
                      pageNo:
                        type: integer
                        description: |
                          <p>页码</p>
                      pageSize:
                        type: integer
                        description: |
                          <p>每页数量</p>
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/V2SearchResult'
        '400': *ref_0
        '401': *ref_1
        '403': *ref_2
        '404': *ref_3
        '422': *ref_4
        '429': *ref_5
        '500': *ref_6
  /api/v2/users/{id}/groups:
    get:
      tags:
        - group
      summary: 获取用户的团队
      description: |
        <p>获取用户的团队<br />
        GET /api/v2/users/:id/groups</p>
        <ul>
        <li>支持分页, PageSize 固定为 100</li>
        </ul>
      parameters:
        - name: id
          in: path
          description: |
            <p>用户 login 或 ID</p>
          required: true
          deprecated: false
          schema:
            type: string
        - name: role
          in: query
          description: |
            <p>角色 [过滤条件]<br />
            (0:管理员, 1:成员)</p>
          required: false
          deprecated: false
          schema:
            type: string
            enum:
              - 0
              - 1
        - name: offset
          in: query
          description: |
            <p>偏移量 [分页条件]</p>
          required: false
          deprecated: false
          schema:
            type: integer
            default: 0
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/V2Group'
        '400': *ref_0
        '401': *ref_1
        '403': *ref_2
        '404': *ref_3
        '422': *ref_4
        '429': *ref_5
        '500': *ref_6
  /api/v2/groups/{login}/users:
    get:
      tags:
        - group
      summary: 获取团队的成员
      description: |
        <p>获取团队的成员<br />
        GET /api/v2/groups/:login/users</p>
        <ul>
        <li>支持分页, PageSize 固定为 100</li>
        </ul>
      parameters:
        - name: login
          in: path
          description: |
            <p>团队 Login or ID</p>
          required: true
          deprecated: false
          schema:
            type: string
        - name: role
          in: query
          description: |
            <p>角色 [筛选条件]<br />
            (0:管理员, 1:成员, 2:只读成员)</p>
          required: false
          deprecated: false
          schema:
            type: string
            enum:
              - 0
              - 1
              - 2
        - name: offset
          in: query
          description: |
            <p>偏移量 [分页条件]</p>
          required: false
          deprecated: false
          schema:
            type: integer
            default: 0
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/V2GroupUser'
        '400': *ref_0
        '401': *ref_1
        '403': *ref_2
        '404': *ref_3
        '422': *ref_4
        '429': *ref_5
        '500': *ref_6
  /api/v2/groups/{login}/users/{id}:
    put:
      tags:
        - group
      summary: 邀请/变更成员
      description: |
        <p>邀请/变更成员<br />
        PUT /api/v2/groups/:login/users/:id</p>
        <ul>
        <li>如 {id} 传入未加入团队的用户 Login/ID, 则会向该用户发起成员邀请</li>
        </ul>
      parameters:
        - name: login
          in: path
          description: |
            <p>团队 Login or ID</p>
          required: true
          deprecated: false
          schema:
            type: string
        - name: id
          in: path
          description: |
            <p>用户 Login or ID</p>
          required: true
          deprecated: false
          schema:
            type: string
      requestBody:
        $ref: '#/components/requestBodies/ApiV2GroupMemberUpdatePut'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/V2GroupUser'
        '400': *ref_0
        '401': *ref_1
        '403': *ref_2
        '404': *ref_3
        '422': *ref_4
        '429': *ref_5
        '500': *ref_6
    delete:
      tags:
        - group
      summary: 删除成员
      description: |
        <p>删除成员<br />
        DELETE /api/v2/groups/:login/users/:id</p>
      parameters:
        - name: login
          in: path
          description: |
            <p>团队 Login or ID</p>
          required: true
          deprecated: false
          schema:
            type: string
        - name: id
          in: path
          description: |
            <p>用户 Login or ID</p>
          required: true
          deprecated: false
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      user_id:
                        type: string
                        description: |
                          <p>删除用户 ID</p>
        '400': *ref_0
        '401': *ref_1
        '403': *ref_2
        '404': *ref_3
        '422': *ref_4
        '429': *ref_5
        '500': *ref_6
  /api/v2/repos/{book_id}/docs:
    get:
      tags:
        - doc
      summary: 获取知识库文档列表
      description: |
        <p>获取知识库文档列表<br />
        GET /api/v2/repos/:book_id/docs<br />
        GET /api/v2/repos/:group_login/:book_slug/docs</p>
      parameters:
        - name: book_id
          in: path
          description: |
            <p>知识库 ID</p>
          required: true
          deprecated: false
          schema:
            type: integer
        - name: offset
          in: query
          description: |
            <p>偏移量 [分页参数]</p>
          required: false
          deprecated: false
          schema:
            type: integer
            default: 0
        - name: limit
          in: query
          description: |
            <p>每页数量 [分页参数]</p>
            <ul>
            <li>未来会随时调整本字段的 max_size, 请勿依赖</li>
            </ul>
          required: false
          deprecated: false
          schema:
            type: integer
            maximum: 500
            default: 100
        - name: optional_properties
          in: query
          description: |
            <p>获取的额外字段, 多个字段以逗号分隔</p>
            <ul>
            <li>
            <p>注意: 每页数量超过 100 本字段会失效</p>
            </li>
            <li>
            <p>支持的字段有:</p>
            <ul>
            <li>hits: 文档阅读数</li>
            <li>tags: 标签</li>
            <li>latest_version_id: 最新已发版本 ID</li>
            </ul>
            </li>
            </ul>
          required: false
          deprecated: false
          schema:
            type: string
            default: ''
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/V2Doc'
        '400': *ref_0
        '401': *ref_1
        '403': *ref_2
        '404': *ref_3
        '422': *ref_4
        '429': *ref_5
        '500': *ref_6
    post:
      tags:
        - doc
      summary: 创建文档
      description: |
        <p>创建文档<br />
        POST /api/v2/repos/:book_id/docs<br />
        POST /api/v2/repos/:group_login/:book_slug/docs</p>
        <ul>
        <li>注意: 创建文档后不会自动添加到目录，需要调用"知识库目录更新接口"更新到目录中</li>
        </ul>
      parameters:
        - name: book_id
          in: path
          description: |
            <p>知识库 ID</p>
          required: true
          deprecated: false
          schema:
            type: integer
      requestBody:
        $ref: '#/components/requestBodies/ApiV2DocCreatePost'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/V2DocDetail'
        '400': *ref_0
        '401': *ref_1
        '403': *ref_2
        '404': *ref_3
        '422': *ref_4
        '429': *ref_5
        '500': *ref_6
  /api/v2/repos/{book_id}/docs/{id}:
    get:
      tags:
        - doc
      summary: 获取文档详情
      description: |
        <p>获取文档详情<br />
        GET /api/v2/repos/:book_id/docs/:id<br />
        GET /api/v2/repos/:group_login/:book_slug/docs/:id</p>
      parameters:
        - name: book_id
          in: path
          description: |
            <p>知识库 ID</p>
          required: true
          deprecated: false
          schema:
            type: integer
        - name: id
          in: path
          description: |
            <p>文档 ID or 路径</p>
          required: true
          deprecated: false
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/V2DocDetail'
        '400': *ref_0
        '401': *ref_1
        '403': *ref_2
        '404': *ref_3
        '422': *ref_4
        '429': *ref_5
        '500': *ref_6
    put:
      tags:
        - doc
      summary: 更新文档
      description: |
        <p>更新文档<br />
        PUT /api/v2/repos/:book_id/docs/:id<br />
        PUT /api/v2/repos/:group_login/:book_slug/docs/:id</p>
      parameters:
        - name: book_id
          in: path
          description: |
            <p>知识库 ID</p>
          required: true
          deprecated: false
          schema:
            type: integer
        - name: id
          in: path
          description: |
            <p>文档 ID or 路径</p>
          required: true
          deprecated: false
          schema:
            type: string
      requestBody:
        $ref: '#/components/requestBodies/ApiV2DocUpdatePut'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/V2DocDetail'
        '400': *ref_0
        '401': *ref_1
        '403': *ref_2
        '404': *ref_3
        '422': *ref_4
        '429': *ref_5
        '500': *ref_6
    delete:
      tags:
        - doc
      summary: 删除文档
      description: |
        <p>删除文档<br />
        DELETE /api/v2/repos/:book_id/docs/:id<br />
        DELETE /api/v2/repos/:group_login/:book_slug/docs/:id</p>
      parameters:
        - name: book_id
          in: path
          description: |
            <p>知识库 ID</p>
          required: true
          deprecated: false
          schema:
            type: integer
        - name: id
          in: path
          description: |
            <p>文档 ID or 路径</p>
          required: true
          deprecated: false
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/V2DocDetail'
        '400': *ref_0
        '401': *ref_1
        '403': *ref_2
        '404': *ref_3
        '422': *ref_4
        '429': *ref_5
        '500': *ref_6
  /api/v2/repos/{group_login}/{book_slug}/docs:
    get:
      tags:
        - doc
      summary: 获取知识库文档列表
      description: |
        <p>获取知识库文档列表<br />
        GET /api/v2/repos/:book_id/docs<br />
        GET /api/v2/repos/:group_login/:book_slug/docs</p>
      parameters:
        - name: group_login
          in: path
          description: |
            <p>团队 Login</p>
          required: true
          deprecated: false
          schema:
            type: string
        - name: book_slug
          in: path
          description: |
            <p>知识库路径</p>
          required: true
          deprecated: false
          schema:
            type: string
        - name: offset
          in: query
          description: |
            <p>偏移量 [分页参数]</p>
          required: false
          deprecated: false
          schema:
            type: integer
            default: 0
        - name: limit
          in: query
          description: |
            <p>每页数量 [分页参数]</p>
            <ul>
            <li>未来会随时调整本字段的 max_size, 请勿依赖</li>
            </ul>
          required: false
          deprecated: false
          schema:
            type: integer
            maximum: 500
            default: 100
        - name: optional_properties
          in: query
          description: |
            <p>获取的额外字段, 多个字段以逗号分隔</p>
            <ul>
            <li>
            <p>注意: 每页数量超过 100 本字段会失效</p>
            </li>
            <li>
            <p>支持的字段有:</p>
            <ul>
            <li>hits: 文档阅读数</li>
            <li>tags: 标签</li>
            <li>latest_version_id: 最新已发版本 ID</li>
            </ul>
            </li>
            </ul>
          required: false
          deprecated: false
          schema:
            type: string
            default: ''
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/V2Doc'
        '400': *ref_0
        '401': *ref_1
        '403': *ref_2
        '404': *ref_3
        '422': *ref_4
        '429': *ref_5
        '500': *ref_6
    post:
      tags:
        - doc
      summary: 创建文档
      description: |
        <p>创建文档<br />
        POST /api/v2/repos/:book_id/docs<br />
        POST /api/v2/repos/:group_login/:book_slug/docs</p>
        <ul>
        <li>注意: 创建文档后不会自动添加到目录，需要调用"知识库目录更新接口"更新到目录中</li>
        </ul>
      parameters:
        - name: group_login
          in: path
          description: |
            <p>团队 Login</p>
          required: true
          deprecated: false
          schema:
            type: string
        - name: book_slug
          in: path
          description: |
            <p>知识库路径</p>
          required: true
          deprecated: false
          schema:
            type: string
      requestBody:
        $ref: '#/components/requestBodies/ApiV2DocCreatePost'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/V2DocDetail'
        '400': *ref_0
        '401': *ref_1
        '403': *ref_2
        '404': *ref_3
        '422': *ref_4
        '429': *ref_5
        '500': *ref_6
  /api/v2/repos/{group_login}/{book_slug}/docs/{id}:
    get:
      tags:
        - doc
      summary: 获取文档详情
      description: |
        <p>获取文档详情<br />
        GET /api/v2/repos/:book_id/docs/:id<br />
        GET /api/v2/repos/:group_login/:book_slug/docs/:id</p>
      parameters:
        - name: group_login
          in: path
          description: |
            <p>团队 Login</p>
          required: true
          deprecated: false
          schema:
            type: string
        - name: book_slug
          in: path
          description: |
            <p>知识库路径</p>
          required: true
          deprecated: false
          schema:
            type: string
        - name: id
          in: path
          description: |
            <p>文档 ID or 路径</p>
          required: true
          deprecated: false
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/V2DocDetail'
        '400': *ref_0
        '401': *ref_1
        '403': *ref_2
        '404': *ref_3
        '422': *ref_4
        '429': *ref_5
        '500': *ref_6
    put:
      tags:
        - doc
      summary: 更新文档
      description: |
        <p>更新文档<br />
        PUT /api/v2/repos/:book_id/docs/:id<br />
        PUT /api/v2/repos/:group_login/:book_slug/docs/:id</p>
      parameters:
        - name: group_login
          in: path
          description: |
            <p>团队 Login</p>
          required: true
          deprecated: false
          schema:
            type: string
        - name: book_slug
          in: path
          description: |
            <p>知识库路径</p>
          required: true
          deprecated: false
          schema:
            type: string
        - name: id
          in: path
          description: |
            <p>文档 ID or 路径</p>
          required: true
          deprecated: false
          schema:
            type: string
      requestBody:
        $ref: '#/components/requestBodies/ApiV2DocUpdatePut'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/V2DocDetail'
        '400': *ref_0
        '401': *ref_1
        '403': *ref_2
        '404': *ref_3
        '422': *ref_4
        '429': *ref_5
        '500': *ref_6
    delete:
      tags:
        - doc
      summary: 删除文档
      description: |
        <p>删除文档<br />
        DELETE /api/v2/repos/:book_id/docs/:id<br />
        DELETE /api/v2/repos/:group_login/:book_slug/docs/:id</p>
      parameters:
        - name: group_login
          in: path
          description: |
            <p>团队 Login</p>
          required: true
          deprecated: false
          schema:
            type: string
        - name: book_slug
          in: path
          description: |
            <p>知识库路径</p>
          required: true
          deprecated: false
          schema:
            type: string
        - name: id
          in: path
          description: |
            <p>文档 ID or 路径</p>
          required: true
          deprecated: false
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/V2DocDetail'
        '400': *ref_0
        '401': *ref_1
        '403': *ref_2
        '404': *ref_3
        '422': *ref_4
        '429': *ref_5
        '500': *ref_6
  /api/v2/doc_versions:
    get:
      tags:
        - doc
      summary: 获取文档历史版本列表
      description: |
        <p>获取文档历史版本列表<br />
        GET /api/v2/doc_versions</p>
        <ul>
        <li>按时间倒序返回最近 100 个已发布版本</li>
        </ul>
      parameters:
        - name: doc_id
          in: query
          description: |
            <p>文档 ID</p>
          required: true
          deprecated: false
          schema:
            type: integer
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/V2DocVersion'
        '400': *ref_0
        '401': *ref_1
        '403': *ref_2
        '404': *ref_3
        '422': *ref_4
        '429': *ref_5
        '500': *ref_6
  /api/v2/doc_versions/{id}:
    get:
      tags:
        - doc
      summary: 获取文档历史版本详情
      description: |
        <p>获取文档历史版本详情<br />
        GET /api/v2/doc_versions/:id</p>
      parameters:
        - name: id
          in: path
          description: |
            <p>版本 ID</p>
          required: true
          deprecated: false
          schema:
            type: integer
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/V2DocVersionDetail'
        '400': *ref_0
        '401': *ref_1
        '403': *ref_2
        '404': *ref_3
        '422': *ref_4
        '429': *ref_5
        '500': *ref_6
  /api/v2/repos/{book_id}/toc:
    get:
      tags:
        - doc
      summary: 获取目录
      description: |
        <p>获取目录<br />
        GET /api/v2/repos/:book_id/toc<br />
        GET /api/v2/repos/:group_login/:book_slug/toc</p>
      parameters:
        - name: book_id
          in: path
          description: |
            <p>知识库 ID</p>
          required: true
          deprecated: false
          schema:
            type: integer
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/V2TocItem'
        '400': *ref_0
        '401': *ref_1
        '403': *ref_2
        '404': *ref_3
        '422': *ref_4
        '429': *ref_5
        '500': *ref_6
    put:
      tags:
        - doc
      summary: 更新目录
      description: |
        <p>更新目录<br />
        PUT /api/v2/repos/:book_id/toc<br />
        PUT /api/v2/repos/:group_login/:book_slug/toc</p>
        <p>字段说明:</p>
        <ul>
        <li>所有场景
        <ul>
        <li>必填字段
        <ul>
        <li>action</li>
        <li>action_mode</li>
        </ul>
        </li>
        <li>选填字段
        <ul>
        <li>target_uuid</li>
        <li>visible</li>
        </ul>
        </li>
        </ul>
        </li>
        <li>创建场景
        <ul>
        <li>必填字段
        <ul>
        <li>创建文档节点
        <ul>
        <li>type</li>
        <li>doc_ids</li>
        </ul>
        </li>
        <li>创建分组节点
        <ul>
        <li>type</li>
        <li>title</li>
        </ul>
        </li>
        <li>创建外链节点
        <ul>
        <li>type</li>
        <li>title</li>
        <li>url</li>
        <li>open_window</li>
        </ul>
        </li>
        </ul>
        </li>
        </ul>
        </li>
        <li>移动场景
        <ul>
        <li>必填字段
        <ul>
        <li>target_uuid</li>
        <li>node_uuid</li>
        </ul>
        </li>
        </ul>
        </li>
        <li>编辑场景
        <ul>
        <li>必填字段
        <ul>
        <li>node_uuid</li>
        </ul>
        </li>
        <li>选填字段
        <ul>
        <li>type</li>
        <li>title</li>
        <li>url</li>
        <li>open_window</li>
        </ul>
        </li>
        </ul>
        </li>
        <li>删除场景
        <ul>
        <li>必填字段
        <ul>
        <li>node_uuid</li>
        </ul>
        </li>
        </ul>
        </li>
        </ul>
      parameters:
        - name: book_id
          in: path
          description: |
            <p>知识库 ID</p>
          required: true
          deprecated: false
          schema:
            type: integer
      requestBody:
        $ref: '#/components/requestBodies/ApiV2RepoTocUpdatePut'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/V2TocItem'
        '400': *ref_0
        '401': *ref_1
        '403': *ref_2
        '404': *ref_3
        '422': *ref_4
        '429': *ref_5
        '500': *ref_6
  /api/v2/repos/{group_login}/{book_slug}/toc:
    get:
      tags:
        - doc
      summary: 获取目录
      description: |
        <p>获取目录<br />
        GET /api/v2/repos/:book_id/toc<br />
        GET /api/v2/repos/:group_login/:book_slug/toc</p>
      parameters:
        - name: group_login
          in: path
          description: |
            <p>团队 Login</p>
          required: true
          deprecated: false
          schema:
            type: string
        - name: book_slug
          in: path
          description: |
            <p>知识库路径</p>
          required: true
          deprecated: false
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/V2TocItem'
        '400': *ref_0
        '401': *ref_1
        '403': *ref_2
        '404': *ref_3
        '422': *ref_4
        '429': *ref_5
        '500': *ref_6
    put:
      tags:
        - doc
      summary: 更新目录
      description: |
        <p>更新目录<br />
        PUT /api/v2/repos/:book_id/toc<br />
        PUT /api/v2/repos/:group_login/:book_slug/toc</p>
        <p>字段说明:</p>
        <ul>
        <li>所有场景
        <ul>
        <li>必填字段
        <ul>
        <li>action</li>
        <li>action_mode</li>
        </ul>
        </li>
        <li>选填字段
        <ul>
        <li>target_uuid</li>
        <li>visible</li>
        </ul>
        </li>
        </ul>
        </li>
        <li>创建场景
        <ul>
        <li>必填字段
        <ul>
        <li>创建文档节点
        <ul>
        <li>type</li>
        <li>doc_ids</li>
        </ul>
        </li>
        <li>创建分组节点
        <ul>
        <li>type</li>
        <li>title</li>
        </ul>
        </li>
        <li>创建外链节点
        <ul>
        <li>type</li>
        <li>title</li>
        <li>url</li>
        <li>open_window</li>
        </ul>
        </li>
        </ul>
        </li>
        </ul>
        </li>
        <li>移动场景
        <ul>
        <li>必填字段
        <ul>
        <li>target_uuid</li>
        <li>node_uuid</li>
        </ul>
        </li>
        </ul>
        </li>
        <li>编辑场景
        <ul>
        <li>必填字段
        <ul>
        <li>node_uuid</li>
        </ul>
        </li>
        <li>选填字段
        <ul>
        <li>type</li>
        <li>title</li>
        <li>url</li>
        <li>open_window</li>
        </ul>
        </li>
        </ul>
        </li>
        <li>删除场景
        <ul>
        <li>必填字段
        <ul>
        <li>node_uuid</li>
        </ul>
        </li>
        </ul>
        </li>
        </ul>
      parameters:
        - name: group_login
          in: path
          description: |
            <p>团队 Login</p>
          required: true
          deprecated: false
          schema:
            type: string
        - name: book_slug
          in: path
          description: |
            <p>知识库路径</p>
          required: true
          deprecated: false
          schema:
            type: string
      requestBody:
        $ref: '#/components/requestBodies/ApiV2RepoTocUpdatePut'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/V2TocItem'
        '400': *ref_0
        '401': *ref_1
        '403': *ref_2
        '404': *ref_3
        '422': *ref_4
        '429': *ref_5
        '500': *ref_6
  /api/v2/groups/{login}/repos:
    get:
      tags:
        - repo
      summary: 获取知识库列表
      description: |
        <p>获取知识库列表<br />
        GET /api/v2/groups/:id/repos<br />
        GET /api/v2/groups/:login/repos</p>
        <p>GET /api/v2/users/:id/repos<br />
        GET /api/v2/users/:login/repos</p>
      parameters:
        - name: login
          in: path
          description: |
            <p>用户/团队的 Login 或 ID</p>
          required: true
          deprecated: false
          schema:
            type: string
        - name: offset
          in: query
          description: |
            <p>偏移量 [分页参数]</p>
          required: false
          deprecated: false
          schema:
            type: integer
            default: 0
        - name: limit
          in: query
          description: |
            <p>每页数量 [分页参数]</p>
          required: false
          deprecated: false
          schema:
            type: integer
            maximum: 100
            default: 100
        - name: type
          in: query
          description: |
            <p>类型 [筛选条件]<br />
            (Book:文档型知识库, Design: 画板型知识库)</p>
          required: false
          deprecated: false
          schema:
            type: string
            enum:
              - Book
              - Design
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/V2Book'
        '400': *ref_0
        '401': *ref_1
        '403': *ref_2
        '404': *ref_3
        '422': *ref_4
        '429': *ref_5
        '500': *ref_6
    post:
      tags:
        - repo
      summary: 创建知识库
      description: |
        <p>创建知识库<br />
        POST /api/v2/groups/:id/repos<br />
        POST /api/v2/groups/:login/repos</p>
        <p>POST /api/v2/users/:id/repos<br />
        POST /api/v2/users/:login/repos</p>
      parameters:
        - name: login
          in: path
          description: |
            <p>用户/团队的 Login 或 ID</p>
          required: true
          deprecated: false
          schema:
            type: string
      requestBody:
        $ref: '#/components/requestBodies/ApiV2RepoCreatePost'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/V2Book'
        '400': *ref_0
        '401': *ref_1
        '403': *ref_2
        '404': *ref_3
        '422': *ref_4
        '429': *ref_5
        '500': *ref_6
  /api/v2/users/{login}/repos:
    get:
      tags:
        - repo
      summary: 获取知识库列表
      description: |
        <p>获取知识库列表<br />
        GET /api/v2/groups/:id/repos<br />
        GET /api/v2/groups/:login/repos</p>
        <p>GET /api/v2/users/:id/repos<br />
        GET /api/v2/users/:login/repos</p>
      parameters:
        - name: login
          in: path
          description: |
            <p>用户/团队的 Login 或 ID</p>
          required: true
          deprecated: false
          schema:
            type: string
        - name: offset
          in: query
          description: |
            <p>偏移量 [分页参数]</p>
          required: false
          deprecated: false
          schema:
            type: integer
            default: 0
        - name: limit
          in: query
          description: |
            <p>每页数量 [分页参数]</p>
          required: false
          deprecated: false
          schema:
            type: integer
            maximum: 100
            default: 100
        - name: type
          in: query
          description: |
            <p>类型 [筛选条件]<br />
            (Book:文档型知识库, Design: 画板型知识库)</p>
          required: false
          deprecated: false
          schema:
            type: string
            enum:
              - Book
              - Design
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/V2Book'
        '400': *ref_0
        '401': *ref_1
        '403': *ref_2
        '404': *ref_3
        '422': *ref_4
        '429': *ref_5
        '500': *ref_6
    post:
      tags:
        - repo
      summary: 创建知识库
      description: |
        <p>创建知识库<br />
        POST /api/v2/groups/:id/repos<br />
        POST /api/v2/groups/:login/repos</p>
        <p>POST /api/v2/users/:id/repos<br />
        POST /api/v2/users/:login/repos</p>
      parameters:
        - name: login
          in: path
          description: |
            <p>用户/团队的 Login 或 ID</p>
          required: true
          deprecated: false
          schema:
            type: string
      requestBody:
        $ref: '#/components/requestBodies/ApiV2RepoCreatePost'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/V2Book'
        '400': *ref_0
        '401': *ref_1
        '403': *ref_2
        '404': *ref_3
        '422': *ref_4
        '429': *ref_5
        '500': *ref_6
  /api/v2/repos/{book_id}:
    get:
      tags:
        - repo
      summary: 获取知识库详情
      description: |
        <p>获取知识库详情<br />
        GET /api/v2/repos/:book_id<br />
        GET /api/v2/repos/:group_login/:book_slug</p>
      parameters:
        - name: book_id
          in: path
          description: |
            <p>知识库 ID</p>
          required: true
          deprecated: false
          schema:
            type: integer
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/V2Book'
        '400': *ref_0
        '401': *ref_1
        '403': *ref_2
        '404': *ref_3
        '422': *ref_4
        '429': *ref_5
        '500': *ref_6
    put:
      tags:
        - repo
      summary: 更新知识库
      description: |
        <p>更新知识库<br />
        PUT /api/v2/repos/:book_id<br />
        PUT /api/v2/repos/:group_login/:book_slug</p>
      parameters:
        - name: book_id
          in: path
          description: |
            <p>知识库 ID</p>
          required: true
          deprecated: false
          schema:
            type: integer
      requestBody:
        $ref: '#/components/requestBodies/ApiV2RepoUpdatePut'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/V2Book'
        '400': *ref_0
        '401': *ref_1
        '403': *ref_2
        '404': *ref_3
        '422': *ref_4
        '429': *ref_5
        '500': *ref_6
    delete:
      tags:
        - repo
      summary: 删除知识库
      description: |
        <p>删除知识库<br />
        DELETE /api/v2/repos/:book_id<br />
        DELETE /api/v2/repos/:group_login/:book_slug</p>
      parameters:
        - name: book_id
          in: path
          description: |
            <p>知识库 ID</p>
          required: true
          deprecated: false
          schema:
            type: integer
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/V2Book'
        '400': *ref_0
        '401': *ref_1
        '403': *ref_2
        '404': *ref_3
        '422': *ref_4
        '429': *ref_5
        '500': *ref_6
  /api/v2/repos/{group_login}/{book_slug}:
    get:
      tags:
        - repo
      summary: 获取知识库详情
      description: |
        <p>获取知识库详情<br />
        GET /api/v2/repos/:book_id<br />
        GET /api/v2/repos/:group_login/:book_slug</p>
      parameters:
        - name: group_login
          in: path
          description: |
            <p>团队 Login</p>
          required: true
          deprecated: false
          schema:
            type: string
        - name: book_slug
          in: path
          description: |
            <p>知识库路径</p>
          required: true
          deprecated: false
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/V2Book'
        '400': *ref_0
        '401': *ref_1
        '403': *ref_2
        '404': *ref_3
        '422': *ref_4
        '429': *ref_5
        '500': *ref_6
    put:
      tags:
        - repo
      summary: 更新知识库
      description: |
        <p>更新知识库<br />
        PUT /api/v2/repos/:book_id<br />
        PUT /api/v2/repos/:group_login/:book_slug</p>
      parameters:
        - name: group_login
          in: path
          description: |
            <p>团队 Login</p>
          required: true
          deprecated: false
          schema:
            type: string
        - name: book_slug
          in: path
          description: |
            <p>知识库路径</p>
          required: true
          deprecated: false
          schema:
            type: string
      requestBody:
        $ref: '#/components/requestBodies/ApiV2RepoUpdatePut'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/V2Book'
        '400': *ref_0
        '401': *ref_1
        '403': *ref_2
        '404': *ref_3
        '422': *ref_4
        '429': *ref_5
        '500': *ref_6
    delete:
      tags:
        - repo
      summary: 删除知识库
      description: |
        <p>删除知识库<br />
        DELETE /api/v2/repos/:book_id<br />
        DELETE /api/v2/repos/:group_login/:book_slug</p>
      parameters:
        - name: group_login
          in: path
          description: |
            <p>团队 Login</p>
          required: true
          deprecated: false
          schema:
            type: string
        - name: book_slug
          in: path
          description: |
            <p>知识库路径</p>
          required: true
          deprecated: false
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/V2Book'
        '400': *ref_0
        '401': *ref_1
        '403': *ref_2
        '404': *ref_3
        '422': *ref_4
        '429': *ref_5
        '500': *ref_6
  /api/v2/groups/{login}/statistics:
    get:
      tags:
        - statistic
      summary: 团队.汇总统计数据
      description: |
        <p>团队.汇总统计数据<br />
        GET /api/v2/groups/:login/statistics</p>
      parameters:
        - name: login
          in: path
          description: |
            <p>团队的 Login 或 ID</p>
          required: true
          deprecated: false
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/V2GroupStatistics'
        '400': *ref_0
        '401': *ref_1
        '403': *ref_2
        '404': *ref_3
        '422': *ref_4
        '429': *ref_5
        '500': *ref_6
  /api/v2/groups/{login}/statistics/members:
    get:
      tags:
        - statistic
      summary: 团队.成员统计数据
      description: |
        <p>团队.成员统计数据<br />
        GET /api/v2/groups/:login/statistics/members</p>
      parameters:
        - name: login
          in: path
          description: |
            <p>团队的 Login 或 ID</p>
          required: true
          deprecated: false
          schema:
            type: string
        - name: name
          in: query
          description: |
            <p>成员名 [过滤条件]</p>
          required: false
          deprecated: false
          schema:
            type: string
        - name: range
          in: query
          description: |
            <p>时间范围 [过滤条件]<br />
            (0:全部, 30:近 30 天, 365:近一年)</p>
          required: false
          deprecated: false
          schema:
            type: string
            enum:
              - 0
              - 30
              - 365
            default: 0
        - name: page
          in: query
          description: |
            <p>页码</p>
          required: false
          deprecated: false
          schema:
            type: integer
            default: 1
        - name: limit
          in: query
          description: |
            <p>分页数量</p>
          required: false
          deprecated: false
          schema:
            type: integer
            maximum: 20
            default: 10
        - name: sortField
          in: query
          description: |
            <p>排序字段</p>
          required: false
          deprecated: false
          schema:
            type: string
            enum:
              - write_doc_count
              - write_count
              - read_count
              - like_count
        - name: sortOrder
          in: query
          description: |
            <p>排序方向</p>
          required: false
          deprecated: false
          schema:
            type: string
            enum:
              - desc
              - asc
            default: desc
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      members:
                        $ref: '#/components/schemas/V2MemberStatistics'
                      total:
                        type: object
                        properties: {}
        '400': *ref_0
        '401': *ref_1
        '403': *ref_2
        '404': *ref_3
        '422': *ref_4
        '429': *ref_5
        '500': *ref_6
  /api/v2/groups/{login}/statistics/books:
    get:
      tags:
        - statistic
      summary: 团队.知识库统计数据
      description: |
        <p>团队.知识库统计数据<br />
        GET /api/v2/groups/:login/statistics/books</p>
      parameters:
        - name: login
          in: path
          description: |
            <p>团队的 Login 或 ID</p>
          required: true
          deprecated: false
          schema:
            type: string
        - name: name
          in: query
          description: |
            <p>知识库名 [过滤条件]</p>
          required: false
          deprecated: false
          schema:
            type: string
        - name: range
          in: query
          description: |
            <p>时间范围 [过滤条件]<br />
            (0:全部, 30:近 30 天, 365:近一年)</p>
          required: false
          deprecated: false
          schema:
            type: string
            enum:
              - 0
              - 30
              - 365
            default: 0
        - name: page
          in: query
          description: |
            <p>页码</p>
          required: false
          deprecated: false
          schema:
            type: integer
            default: 1
        - name: limit
          in: query
          description: |
            <p>分页数量</p>
          required: false
          deprecated: false
          schema:
            type: integer
            maximum: 20
            default: 10
        - name: sortField
          in: query
          description: |
            <p>排序字段</p>
          required: false
          deprecated: false
          schema:
            type: string
            enum:
              - content_updated_at_ms
              - word_count
              - post_count
              - read_count
              - like_count
              - watch_count
              - comment_count
        - name: sortOrder
          in: query
          description: |
            <p>排序方向</p>
          required: false
          deprecated: false
          schema:
            type: string
            enum:
              - desc
              - asc
            default: desc
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      books:
                        $ref: '#/components/schemas/V2BookStatistics'
                      total:
                        type: object
                        properties: {}
        '400': *ref_0
        '401': *ref_1
        '403': *ref_2
        '404': *ref_3
        '422': *ref_4
        '429': *ref_5
        '500': *ref_6
  /api/v2/groups/{login}/statistics/docs:
    get:
      tags:
        - statistic
      summary: 团队.文档统计数据
      description: |
        <p>团队.文档统计数据<br />
        GET /api/v2/groups/:login/statistics/docs</p>
      parameters:
        - name: login
          in: path
          description: |
            <p>团队的 Login 或 ID</p>
          required: true
          deprecated: false
          schema:
            type: string
        - name: bookId
          in: query
          description: |
            <p>指定知识库 [过滤条件]</p>
          required: false
          deprecated: false
          schema:
            type: integer
        - name: name
          in: query
          description: |
            <p>文档名 [过滤条件]</p>
          required: false
          deprecated: false
          schema:
            type: string
        - name: range
          in: query
          description: |
            <p>时间范围 [过滤条件]<br />
            (0:全部, 30:近 30 天, 365:近一年)</p>
          required: false
          deprecated: false
          schema:
            type: string
            enum:
              - 0
              - 30
              - 365
            default: 0
        - name: page
          in: query
          description: |
            <p>页码</p>
          required: false
          deprecated: false
          schema:
            type: integer
            default: 1
        - name: limit
          in: query
          description: |
            <p>分页数量</p>
          required: false
          deprecated: false
          schema:
            type: integer
            maximum: 20
            default: 10
        - name: sortField
          in: query
          description: |
            <p>排序字段</p>
          required: false
          deprecated: false
          schema:
            type: string
            enum:
              - content_updated_at
              - word_count
              - read_count
              - like_count
              - comment_count
              - created_at
        - name: sortOrder
          in: query
          description: |
            <p>排序方向</p>
          required: false
          deprecated: false
          schema:
            type: string
            enum:
              - desc
              - asc
            default: desc
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      docs:
                        $ref: '#/components/schemas/V2DocStatistics'
                      total:
                        type: object
                        properties: {}
        '400': *ref_0
        '401': *ref_1
        '403': *ref_2
        '404': *ref_3
        '422': *ref_4
        '429': *ref_5
        '500': *ref_6
